* {
    margin: 0;
    border: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 1fr);
    gap: 24px;
    margin: 24px;
}

.item {
    overflow: hidden;
    position: relative;
}

.one {
    grid-area: 1/1/4/2;
    background-color: #f72585;
}

.two {
    grid-area: 4/1/7/2;
    background-color: #b5179e;
}

.three {
    grid-area: 1/2/7/4;
    background-color: #7209b7;
}

.four {
    grid-area: 1/4/3/6;
    background-color: #560bad;
}

.five {
    grid-area: 3/4/5/6;
    background-color: #480ca8;
} 

.six {
    grid-area: 5/4/7/6;
    background-color: #3a0ca3; 
}

.seven {
    grid-area: 7/1/11/2;
    background-color: #3f37c9;
}

.eight {
    grid-area: 7/2/9/3;
    background-color: #4361ee;
}

.nine {
    grid-area: 9/2/11/3;
    background-color: #4895ef;
}

.ten  {
    grid-area: 7/3/11/5;
    background-color: #4cc9f0;
}

.eleven {
    grid-area: 7/5/11/6;
    background-color: #f72585;
}

/* TEXT */
.text {

    background-color: #9BC1BC;
    display: flex;
    max-width: 100%;
    height: 146px;
    align-items: center;
    margin-bottom: 0;
}

h1 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    text-transform: uppercase;
    color: #000000;
    margin-left: 24px;
}